body{
  font-size: 16px;
}

.container{
  max-width: 1320px;
  width: 25%;
  margin: 0 auto 0 auto;
  
}


.header{
 
    background-color: #b68e76 ;
    .container{
    display: flex;
    justify-content: space-between;
    align-items: center;   
      }
     .logo{
      svg{
         width: 15rem;
         height: auto;
         position:relative;
         text-align: center;
         height: auto;
      }
     }
     
    }
       

  .social-media{
    display: flex;
    align-items: center;
    gap: 10px;
    .icon{
      width:1rem;
      font-size: 16px;
      margin-right: 8px;

    }
  }
  
  .bodytext{
   
    color: aliceblue;
  }
  

  .main-navigation{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   font-family: 'Arial' sans-serif;
   position: relative;
   
    a{
      color:aliceblue;
    }
    ul{
      display:flex;
      gap: 1rem;
      list-style: none;
    }
  }