td{border: 0px solid black !important;}
.col-md-12 {
    width: 100%;
}

.col-md-4 {
    width: 33%;
}

input[type="checkbox" i] {
    margin-top: 0px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.greyheader {
    font-family: "Nimbus Roman No9 L" !important;
    color: #777777 !important;
}

.px-4 {
    padding: 4px 20px !important;
}

.bold {
    font-weight: bolder !important;
    margin-bottom: 0px !important;
}

th, td {
    padding: 5px 2px !important;
    /*text-align: center;*/
    border: 1px solid;
    height:15px;
}

body {
    font-size: 9px;
font-family: "Times New Roman", Times, serif;
}

     
@import url('https://fonts.googleapis.com/css2?family=Rekhta+Devanagari&display=swap');

.urdu {
    font-family: 'Rekhta Devanagari', serif;
    word-spacing: -1px;
}


.m-0 {
    margin: 0px !important;
}

.p-0 {
    padding: 0px !important;
}

.tbl td, .tbl th {
    border-width: 1px !important;
    border: 1px solid;
}

.flex-end {
    display: flex;
    align-items: end;
}

.center {
    text-align: center;
}



.underline {
    text-decoration: underline;
}


.divP, .divP2 {
    height: auto;
    width: 356mm;
    height: 216mm;
    margin: 0px !important;
    page-break-after: avoid !important;
    page-break-before: avoid !important;
    page-break-inside: avoid !important;
    box-shadow: none !important;
    line-height: 1.3 !important;
}



.form-group {
    display: flex;
    margin-bottom: 10px;
}

    .form-group span {
        width: 100%;
        border-bottom: 1px solid;
        /*padding-left: 20px;*/
    }

.pl-6 {
    padding-left: 6px;
}

.section .sub {
    border: 1px solid;
}

.section {
    display: flex;
    width: 100%;
}

    .section img {
        width: 50px;
        height: 50px;
    }
    p{
        margin:4px 0px!important;

    }